*{
    margin: 0;
    padding: 0;
}

.sec1{
    display: flex;
    justify-content: center;
    margin-top: 50px;  
}

img{
    width: 400px;
}

form{
    background-color: rgb(34,25,25);
    color: white;
    padding: 30px;
   
}
legend{
    font-size: 20px;
    padding-bottom: 30px;
}


 input{
   border: none;
    background: rgb(34,25,25) ;
    border-bottom: 1px solid white;
    color: white;
    outline: none;

}

.name{
    display: flex;
   flex-direction: column;
   
}
.phone{
    display: flex;
    flex-direction: column;  
}

.name label{
    color:rgb(229,206,181);
   
}
.name input{
    border-bottom: 1px solid rgb(229,206,181);
}

.phone label{
    padding-top: 20px;
}

select{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(34,25,25);
    width: 250px; 

}
p{
    padding-top: 30px;
}

input[type="radio"]{
  display: none;
}

input[type="radio"].chiffre + label{
    border-radius:50%;
    background-color: white;
    color: black;
    padding: 5px;
}

input[type="radio"].chiffre1 + label{
    border-radius:50%;
    background-color:rgb(229,206,181);
    color: black;
    padding: 5px;
}

.space1{
    display: flex;
    color: black;
    text-align: center;
}
.a{
    display: flex;
    align-items: center;
    width: 25px;
    height: 30px;
    margin-right: 20px;
    border-radius: 15px;
    vertical-align: top;
    transition: all 500ms;
}
.a:hover{
    position: relative;
    width: 90px;
    height: 30px;
    text-align: center;
    margin-right: 20px;
    background-color: #fad59e;
    border-radius: 15px;
}
.person{
    display: none;
    color: rgb(25, 12, 5);
    margin-left: 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.a:hover .person{
    display: inline-block;
}
.b{
    text-align: center;
    width: 50px;
    margin-bottom: 0.4rem;
    background-color: white;
    border-radius: 15px;
    font-weight: bolder;
    transition: all 500ms;
}
.a:hover .b{
    margin-top: 5px;
    margin-left: 3px;
    width: 20px;
    height: 20px;
    color: white;
    background-color:  rgb(25, 12, 5);
    border-radius: 15px;
}


div[class="space1"] p{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
#btn{
    cursor: pointer;
    background-color: rgb(229,206,181);
    color:white ;
    padding: 10px;
   border-bottom: none;
   margin-top:20px ;
 
}

.button p{
    color: rgb(229,206,181) ;
    font-size: 10px;  
}



@media screen and (max-width: 1000px) {
.image{
    display: none;
}
form{
    background-color: rgb(34,25,25);
    color: white;
   width: 50%;  
}

select{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(34,25,25);
    width: 200px; 

}




  
}







